openapi: 3.0.3
info:
  title: TW Forge Developer API
  description: TW Forge API for Tribalwars developers.
  version: 1.0.0
  contact:
    name: TWForge
    url: https://github.com/twforge

servers:
  - url: https://twforge.net/api/v1
    description: Production

security:
  - defaultApiKey: [ ]

paths:
  /db-info/userscript:
    post:
      security: [ ]
      deprecated: true
      summary: Village information.
      description: |
        Retrieves village information (tribalwars action).
        
        This endpoint is deprecated and only provided for compatibility with existing scripts. If you plan to create a
        new script please prefer to use the other endpoints.
      operationId: dbInfoApi
      tags:
        - db-info
      parameters:
        - name: action
          in: query
          required: true
          schema:
            type: string
            enum:
              - tribalwars
          description: API action type
        - name: Origin
          description: Used to determine the world this request belongs to.
          in: header
          required: true
          schema:
            type: string
            example: de250.die-staemme.de
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              oneOf:
                - $ref: '#/components/schemas/DbInfoTribalWarsRequest'
      responses:
        '200':
          description: Successful response - returns village information for tribalwars action.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DbInfoTribalwarsResponse'
        '400':
          description: Bad Request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reports/tw/worlds/{world}/report-import-tasks:
    post:
      tags:
        - reports
      summary: Used to upload a batch of reports supplying a text containing slugs or public links.
      description: |
        Creates a batch of report-import-tasks. These tasks will be added to a queue and asynchronously imported.
        
        The response only reveals how many tasks were created from the supplied text.
      operationId: importReports
      parameters:
        - $ref: '#/components/parameters/world'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportImportRequest'
      responses:
        200:
          description: The number of tasks that were created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportImportResponse'
        400:
          $ref: '#/components/responses/badRequest'
        401:
          $ref: '#/components/responses/unauthorized'
  /planner/tw/worlds/{world}/support-boosts/players/{playerId}/tribe-skill-activations:
    parameters:
      - $ref: '#/components/parameters/world'
      - name: playerId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags:
        - support-boost
      summary: Get the active support boost tribe skills for the given player.
      operationId: getTribeSkillActivations
      responses:
        200:
          description: The active support boost tribe skills.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TribeSkillActivation'
        400:
          $ref: '#/components/responses/badRequest'
        401:
          $ref: '#/components/responses/unauthorized'
    post:
      tags:
        - support-boost
      summary: Report a tribe skill activation for the given player.
      operationId: createTribeSkillActivation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTribeSkillActivationRequest'
      responses:
        200:
          description: The created resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TribeSkillActivation'
        400:
          $ref: '#/components/responses/badRequest'
        401:
          $ref: '#/components/responses/unauthorized'
  /planner/tw/worlds/{world}/support-boosts/players/{playerId}/tribe-skill-activations/{id}:
    parameters:
      - $ref: '#/components/parameters/world'
      - name: playerId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    delete:
      tags:
        - support-boost
      summary: Delete a previously reported tribe skill activation.
      operationId: deleteTribeSkillActivation
      responses:
        204:
          description: The resource was deleted.
        400:
          $ref: '#/components/responses/badRequest'
        401:
          $ref: '#/components/responses/unauthorized'
  /planner/tw/worlds/{world}/support-boosts/villages/{villageId}/sigil-distress-activations:
    parameters:
      - $ref: '#/components/parameters/world'
      - name: villageId
        in: path
        required: true
        schema:
          type: integer
          format: int32
    get:
      tags:
        - support-boost
      summary: Get the active sigil of distress activations for the given village.
      operationId: getSigilDistressActivations
      responses:
        200:
          description: The page of activations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SigilDistressActivation'
        400:
          $ref: '#/components/responses/badRequest'
        401:
          $ref: '#/components/responses/unauthorized'
    post:
      tags:
        - support-boost
      summary: Create sigil of distress activation.
      operationId: createSigilDistressActivation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSigilDistressActivationRequest'
      responses:
        200:
          description: The created activation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SigilDistressActivation'
        400:
          $ref: '#/components/responses/badRequest'
        401:
          $ref: '#/components/responses/unauthorized'
  /planner/tw/worlds/{world}/support-boosts/villages/{villageId}/sigil-distress-activations/{id}:
    parameters:
      - $ref: '#/components/parameters/world'
      - name: villageId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
    delete:
      tags:
        - support-boost
      summary: Delete sigil of distress activation.
      operationId: deleteSigilDistressActivation
      responses:
        204:
          description: The activation was deleted.
        400:
          $ref: '#/components/responses/badRequest'
        401:
          $ref: '#/components/responses/unauthorized'
  /planner/tw/worlds/{world}/support-boosts/villages/{villageId}/active-boost:
    parameters:
      - $ref: '#/components/parameters/world'
      - name: villageId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: include-shared
        in: query
        required: false
        description: |
          Whether support boost activations that were shared with the current user should also be included. Set to
          false to only consider the activations reported by the current user.
        schema:
          type: boolean
          default: true
      - name: at-time
        in: query
        required: false
        description: |
          The point in time for when the support-boosts should be checked. Defaults to now.
        schema:
          type: string
          format: date-time
    get:
      tags:
        - support-boost
      summary: Get the aggregated active support boost for the given village at the given time.
      operationId: getActiveSupportBoost
      responses:
        200:
          description: The active boost.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveSupportBoost'
        400:
          $ref: '#/components/responses/badRequest'
        401:
          $ref: '#/components/responses/unauthorized'
  /analyser/tw/worlds/{world}/incoming-attacks:
    parameters:
      - $ref: '#/components/parameters/world'
    get:
      tags:
        - incoming-attacks
      summary: Get a page of incoming attacks.
      operationId: getIncomingAttacks
      description: Page of incoming attacks the current user is allowed to see. Includes attacks imported by other users.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - name: village-id
          in: query
          required: false
          explode: false
          schema:
            type: array
            uniqueItems: true
            maxItems: 100
            items:
              type: integer
              format: int32
      responses:
        200:
          description: The page of incoming attacks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomingAttackPage'
        400:
          $ref: '#/components/responses/badRequest'
        401:
          $ref: '#/components/responses/unauthorized'
  /analyser/tw/worlds/{world}/incoming-attacks/ratings:
    parameters:
      - $ref: '#/components/parameters/world'
    get:
      tags:
        - incoming-attacks
      summary: Get the ratings for attacks uploaded by the current user.
      operationId: getIncomingAttackRatings
      responses:
        200:
          description: The list of attack ratings.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StandaloneAttackRating'
        400:
          $ref: '#/components/responses/badRequest'
        401:
          $ref: '#/components/responses/unauthorized'
  /analyser/tw/worlds/{world}/incoming-attacks/sos-requests:
    parameters:
      - $ref: '#/components/parameters/world'
    post:
      tags:
        - incoming-attacks
      summary: Import incoming attacks via SOS Request.
      operationId: importSosRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportIncomingAttacksSosRequest'
      responses:
        200:
          description: The parsed sos request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParsedSosRequest'
        400:
          $ref: '#/components/responses/badRequest'
        401:
          $ref: '#/components/responses/unauthorized'
components:
  securitySchemes:
    defaultApiKey:
      description: API Key provided to accounts on twforge.net
      type: apiKey
      name: Authorization
      in: header
  parameters:
    page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        format: int32
        default: 0
    pageSize:
      name: size
      in: query
      required: false
      schema:
        type: integer
        format: int32
        default: 10
        maximum: 200
    world:
      name: world
      in: path
      required: true
      description: |
        The world that this operation is in the context of.
        
        Can usually be read from `game_data.world`.
      schema:
        type: string
        example: de250
  responses:
    badRequest:
      description: There was a mistake in the data supplied in the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    unauthorized:
      description: The API key supplied in the Authorization header is not valid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Page:
      type: object
      required:
        - totalElements
        - totalPages
      properties:
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer
          format: int32
    ReportImportRequest:
      type: object
      required:
        - text
      properties:
        text:
          type: string
          description: The text containing the slugs or public links to the reports.
          example: |
            - [report]51d634ed239b48e5cabf521cd67e24a4[/report]
            - [report]030b126e7b764e3691c26626b703c454[/report]
            
            https://de250.die-staemme.de/public_report/030b126e7b764e3691c26626b703c454
    ReportImportResponse:
      type: object
      required:
        - added
      properties:
        added:
          type: integer
          format: int32
          description: The number of reports that were successfully added to the queue.
    # DB Info Models
    DbInfoTribalWarsRequest:
      type: object
      required:
        - Key
        - X
        - Y
      properties:
        Key:
          type: string
          description: API authentication key
        X:
          type: integer
          description: X coordinate of the village
        Y:
          type: integer
          description: Y coordinate of the village
    DbInfoTribalwarsResponse:
      type: object
      required:
        - village_id
        - type
        - attacks
        - sos
      properties:
        village_id:
          type: string
          description: Unique village identifier
        type:
          type: integer
          description: Village type (0 = Deff, 1 = Off)
        unit_time:
          type: integer
          format: int64
          description: UNIX timestamp of unit data
        attacks:
          type: integer
          description: Number of incoming attacks
        report_id:
          type: string
          description: ID of the most recent report
        report_fighttime:
          type: integer
          format: int64
          description: UNIX timestamp of the most recent report
        attack_report:
          $ref: '#/components/schemas/DbInfoBattleReport'
        defend_report:
          $ref: '#/components/schemas/DbInfoBattleReport'
        sos:
          type: array
          description: Array of incoming attacks (required, can be empty)
          items:
            $ref: '#/components/schemas/DbInfoIncomingAttack'
        spear:
          type: integer
          description: Number of spear units in village
        sword:
          type: integer
          description: Number of sword units in village
        axe:
          type: integer
          description: Number of axe units in village
        archer:
          type: integer
          description: Number of archer units in village
        spy:
          type: integer
          description: Number of spy units in village
        light:
          type: integer
          description: Number of light cavalry units in village
        marcher:
          type: integer
          description: Number of mounted archer units in village
        heavy:
          type: integer
          description: Number of heavy cavalry units in village
        ram:
          type: integer
          description: Number of ram units in village
        catapult:
          type: integer
          description: Number of catapult units in village
        snob:
          type: integer
          description: Number of nobleman units in village
    DbInfoBattleReport:
      type: object
      description: Battle report object
      properties:
        report_id:
          type: string
          description: Unique report identifier
        fighttime:
          type: integer
          format: int64
          description: UNIX timestamp of the battle
        spear:
          type: integer
          description: Number of spear units
        sword:
          type: integer
          description: Number of sword units
        axe:
          type: integer
          description: Number of axe units
        archer:
          type: integer
          description: Number of archer units
        spy:
          type: integer
          description: Number of spy units
        light:
          type: integer
          description: Number of light cavalry units
        marcher:
          type: integer
          description: Number of mounted archer units
        heavy:
          type: integer
          description: Number of heavy cavalry units
        ram:
          type: integer
          description: Number of ram units
        catapult:
          type: integer
          description: Number of catapult units
        snob:
          type: integer
          description: Number of nobleman units
        loss_spear:
          type: integer
          description: Number of spear units lost
        loss_sword:
          type: integer
          description: Number of sword units lost
        loss_axe:
          type: integer
          description: Number of axe units lost
        loss_archer:
          type: integer
          description: Number of archer units lost
        loss_spy:
          type: integer
          description: Number of spy units lost
        loss_light:
          type: integer
          description: Number of light cavalry units lost
        loss_marcher:
          type: integer
          description: Number of mounted archer units lost
        loss_heavy:
          type: integer
          description: Number of heavy cavalry units lost
        loss_ram:
          type: integer
          description: Number of ram units lost
        loss_catapult:
          type: integer
          description: Number of catapult units lost
        loss_snob:
          type: integer
          description: Number of nobleman units lost
    DbInfoIncomingAttack:
      type: object
      required:
        - attacker_village_id
        - attacker_coords
        - unit_type
        - fighttime
        - arrival_time
        - prediction_reason
        - duplicate_count
      properties:
        attacker_village_id:
          type: string
          description: ID of the attacking village
        attacker_coords:
          type: string
          description: Coordinates of the attacking village (format XXX|YYY)
        unit_type:
          type: string
          description: Type of unit leading the attack
        fighttime:
          type: integer
          format: int64
          description: UNIX timestamp when the battle will occur
        arrival_time:
          type: integer
          format: int64
          description: UNIX timestamp when the attack was first detected arriving
        prediction:
          type: integer
          description: Attack size prediction (1=small, 2=possible off, 3=medium, 4=large)
          enum: [ 1, 2, 3, 4 ]
        prediction_reason:
          type: string
          description: Reason for the prediction classification
        duplicate_count:
          type: integer
          description: Number of duplicate incoming attacks from the same source

    ErrorResponse:
      type: object
      required:
        - timestamp
        - code
        - message
        - rejectedArguments
        - args
      properties:
        timestamp:
          type: string
          format: date-time
        code:
          type: string
        message:
          type: string
        rejectedArguments:
          type: array
          items:
            $ref: '#/components/schemas/RejectedArgument'
        args:
          type: object
          additionalProperties:
            type: string
        requestId:
          type: string
    RejectedArgument:
      type: object
      required:
        - path
        - code
        - args
      properties:
        path:
          type: string
        code:
          type: string
        args:
          type: object
          additionalProperties:
            type: string
    TribeSkillActivation:
      type: object
      required:
        - id
        - playerId
        - strength
        - validFrom
        - validUntil
        - actions
      properties:
        id:
          type: integer
          format: int64
        playerId:
          type: integer
          format: int64
        strength:
          type: integer
        validFrom:
          type: string
          format: date-time
        validUntil:
          type: string
          format: date-time
        actions:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
              - delete
    CreateTribeSkillActivationRequest:
      type: object
      required:
        - strength
        - validUntil
      properties:
        strength:
          type: integer
          minimum: 1
          maximum: 20
        validUntil:
          type: string
          format: date-time
    SigilDistressActivation:
      type: object
      required:
        - id
        - villageId
        - strength
        - validFrom
        - validUntil
        - actions
      properties:
        id:
          type: integer
          format: int64
        villageId:
          type: integer
        strength:
          type: integer
        validFrom:
          type: string
          format: date-time
        validUntil:
          type: string
          format: date-time
        actions:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
              - delete
    SigilOfDistressStrength:
      type: string
      enum:
        - TEN
        - TWENTY
        - THIRTY
    CreateSigilDistressActivationRequest:
      type: object
      required:
        - strength
        - validUntil
      properties:
        strength:
          $ref: '#/components/schemas/SigilOfDistressStrength'
        validUntil:
          type: string
          format: date-time
    ActiveSupportBoost:
      type: object
      required:
        - strength
        - tribeSkill
        - sigil
      properties:
        strength:
          type: integer
          description: Combined support boost strength.
        tribeSkill:
          type: integer
        sigil:
          type: integer
    IncomingAttackPage:
      allOf:
        - $ref: '#/components/schemas/Page'
        - type: object
          required:
            - content
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/IncomingAttack'
    IncomingAttack:
      type: object
      required:
        - id
        - name
        - unit
        - targetId
        - sourceId
        - attackerId
        - arrival
        - sendTime
        - actions
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        unit:
          type: string
        targetId:
          type: integer
          format: int32
        sourceId:
          type: integer
          format: int32
        attackerId:
          type: integer
          format: int64
        defenderId:
          type: integer
          format: int64
        arrival:
          type: string
          format: date-time
        sendTime:
          type: string
          format: date-time
        actions:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
              - EDIT
              - DELETE
        attackSize:
          $ref: '#/components/schemas/AttackSize'
        rating:
          $ref: '#/components/schemas/AttackRating'
    AttackRating:
      type: object
      required:
        - attackSize
        - isOffensive
      properties:
        attackSize:
          $ref: '#/components/schemas/AttackSize'
        isOffensive:
          type: boolean
        watchtowerDetected:
          type: boolean
        defensiveSourceVillage:
          type: boolean
        units:
          $ref: '#/components/schemas/Troops'
        transit:
          $ref: '#/components/schemas/Troops'
    StandaloneAttackRating:
      type: object
      required:
        - sourceId
        - targetId
        - arrival
        - rating
      properties:
        sourceId:
          type: integer
        targetId:
          type: integer
        arrival:
          type: string
          description: Arrival as formatted by the game.
        rating:
          $ref: '#/components/schemas/AttackRating'
    AttackSize:
      type: string
      enum:
        - SMALL
        - MEDIUM_SMALL
        - MEDIUM
        - LARGE
    Troops:
      type: object
      additionalProperties:
        type: integer
        format: int32
    ImportIncomingAttacksSosRequest:
      type: object
      required:
        - sosRequest
      properties:
        sosRequest:
          type: string
    ParsedSosRequest:
      type: object
      required:
        - attacks
      properties:
        attacks:
          type: array
          items:
            $ref: '#/components/schemas/IncomingAttack'
